calculator styling * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.calculator {
  width: 300px;
  background: #ccc;
  border-radius: 20px;
  border: 1px solid #b69f9f;
  margin-bottom: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 1px solid #b69f9f;
  margin: 10px;
}

.buttons button {
  height: 50px;
  font-size: 1.3rem;
  margin: 5px;
  border: none;
  border-radius: 10px;
}

#display {
  width: 100%;
  padding: 20px;
  font-size: 1.4rem;
  text-align: right;

}

#equal {
  grid-area: 4 / 4/ 6/4;
}